@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.header{
    height: 6.5rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    // position: fixed;
    // z-index: 100;
    // width: 100%;
    // background-color: rgb(255, 255, 255);
    .wrapper{
        height: 100%;
        max-width: 1250px;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo {
            // position: absolute;
            // top: 50%;
            // left: 10px;
            // transform: translateY(-50%);
            color: #333;
            font-family: 'Abril Fatface', cursive;
            a{
                color: #333;
                font-size: 2rem;
            }
        }
        .cta li{
            list-style-type: none;
            a{
                color: #333;
                font-size: 1.6rem;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}


