.btn{
    // display: block;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px;
    line-height: 1;
    margin: 0 auto;
    color: white;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
}